{% extends "main/base.html" %} 
{% load crispy_forms_tags %} 
{% load static %} 

{% block content %}
<section class="main-section section-height-adjustment">
    <div class="container-md">
        <div class="content-section">
            <form method="POST" class="row g-1" enctype="multipart/form-data">
                {% csrf_token %}
                <legend class="border-bottom mb-4"> Adding Book </legend>
                <!-- Name -->
                <div class="form-floating mb-3 col-12">
                    {% include 'blog/components/field.html' with is_bound=form.is_bound field=form.name %}
                </div> 
                <!-- Author -->
                <div class="input-group mb-3 col-md-12">
                    <div class="form-floating col-md-10">
                        {% include 'blog/components/field.html' with is_bound=form.is_bound field=form.author %}
                    </div>
                    <!-- Update Button -->
                    <!-- <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    </button> -->
                    <!-- Create Button -->
                    <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#CreateAuthorModal" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                        </svg>
                    </button>
                </div>
                <!-- classification -->
                <div class="form-floating mb-3 col-md-6">
                    {% include 'blog/components/field.html' with is_bound=form.is_bound field=form.classification %}
                </div>
                <div class="input-group mb-3 col-md-12">
                    <!-- publisher -->
                    <div class="form-floating col-md-10">
                        {% include 'blog/components/field.html' with is_bound=form.is_bound field=form.publisher %}
                    </div>
                    <!-- Create Button -->
                    <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#CreatePublisherModal" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                        </svg>
                    </button>
                </div>
                <!-- Code -->
                <div class="form-floating mb-3 col-md-4">
                    {% include 'blog/components/field.html' with is_bound=form.is_bound field=form.code %}
                </div>
                <!-- pages_num -->
                <div class="form-floating mb-3 col-md-4">
                    {% include 'blog/components/field.html' with is_bound=form.is_bound field=form.pages_num %}
                </div>
                <!-- available_copies -->
                <div class="form-floating mb-3 col-md-4">
                    {% include 'blog/components/field.html' with is_bound=form.is_bound field=form.available_copies %}
                </div>
                <!-- date_published -->
                <div class="col-md-6">
                    {{ form.date_published|as_crispy_field }}
                </div>
                <!-- date_added -->
                <div class="col-md-6 mb-3">
                    {{ form.date_added|as_crispy_field }}
                </div>
                <!-- available_borrowing -->
                <div class="form-floating mb-3">
                    <div class="form-check">
                        {% include 'blog/components/field.html' with is_bound=form.is_bound field=form.available_borrowing %}
                    </div>
                </div>
                <!-- available -->
                <div class="form-floating mb-3">
                    <div class="form-check">
                        {% include 'blog/components/field.html' with is_bound=form.is_bound field=form.available %}
                    </div>
                </div>
                <!-- image -->
                <div class="mb-1">
                    {{ form.image|as_crispy_field }}
                </div>
                <!-- brief -->
                <div class="mb-3">
                    {{ form.brief }}
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit"> Create </button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- AuthorModal -->
<div class="modal fade" id="CreateAuthorModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="CreateAuthorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateAuthorModalLabel">Craete Author</h5>
                <button type="button" class="btn-close author" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- action="{% url 'author-create' %}" method="POST" -->
            <form id="AuthorModal">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-floating">
                        {% include 'blog/components/field.html' with is_bound=author_form.is_bound field=author_form.name %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-info">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- PublisherModal -->
<div class="modal fade" id="CreatePublisherModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="CreatePublisherModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreatePublisherModalLabel">Craete Publisher</h5>
                <button type="button" class="btn-close publisher" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- action="{% url 'author-create' %}" method="POST" -->
            <form id="PublisherModal">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-floating">
                        {% include 'blog/components/field.html' with is_bound=author_form.is_bound field=publisher_form.name %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-info">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block ajax %}
    <!-- add author on the run -->
    <script type="text/javascript">
        $(document).on('submit', '#AuthorModal', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "api-author-create" %}',
                data: {
                    name: $('#AuthorName').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val() 
                },
                success: function(data) {
                    var element = "<option value=" + data[0].id + ">" + data[0].name + "</option>";
                    // [1]: close modal
                    $(".btn-close.author").click();
                    // [2]: update select box
                    $("#id_author").append(element);
                    // [3]: alert user
                    var message = "<div class='alert alert-success'>the author '" + data[0].name + "' was created successfuly</div>"
                    $(".main-section .container-md").prepend(message);
                }
            });
        });
    </script>
    <!-- add publisher on the run -->
    <script type="text/javascript">
        $(document).on('submit', '#PublisherModal', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "api-publisher-create" %}',
                data: {
                    name: $('#PublisherName').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val() 
                },
                success: function(data) {
                    var element = "<option value=" + data[0].id + ">" + data[0].name + "</option>";
                    // [1]: close modal
                    $(".btn-close.publisher").click();
                    // [2]: update select box
                    $("#id_publisher").append(element);
                    // [3]: alert user
                    var message = "<div class='alert alert-success'>the publisher '" + data[0].name + "' was created successfuly</div>"
                    $(".main-section .container-md").prepend(message);
                }
            });
        });
    </script>
{% endblock ajax %}