{% extends "main/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'booking/css/booking-detailed.css' %}">
{% endblock css %}

{% block content %}
<section class="main-section section-height-adjustment">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4">
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded card-beau" src="{{ book.image.url }}" alt="..." />
                        </figure>
                    </div>
                    <div class="col-lg-8">

                        <!-- Book content-->
                        <article>
                            <div class='row'>
                                <!-- Book header-->
                                <header class=" mb-4">
                                    <!-- Book title-->
                                    <h1 class="fw-bolder mb-1">{{ book.name }}</h1>
                                    <!-- Book meta content-->
                                    <div class="text-muted fst-italic mb-2">published on
                                        <span class="date-published-handler">
                                            {{book.date_published|date:"F d, Y " }}
                                        </span>
                                        by {{ book.author }}
                                    </div>
                                    <!-- Book categories-->
                                    <a class="badge bg-secondary text-decoration-none link-light"
                                        href="#!">{{book.classification.family}}</a>
                                </header>
                                <!-- Book content-->
                                <section class="mb-5">
                                    {{ book.brief|safe }}
                                </section>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">

                <!-- Categories widget-->
                <div class="card-beau mb-4">
                    <div class="card-header">Book Info</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <ul class="list-group">

                                    {% if book.pages_num %}
                                    <li class="list-group-item list-group-item-light   ">
                                        <a class="a-cat-book-info " href="#">
                                            pages number:
                                            <br>
                                            <span>{{book.pages_num}}</span>
                                        </a>
                                    </li>
                                    {% endif %}

                                    {% if book.date_added %}
                                    <li class="list-group-item list-group-item-light   ">
                                        <a class="a-cat-book-info " href="#">
                                            was added to the library in:
                                            <br>
                                            <span>{{book.date_added|date:"F d, Y "}}</span>
                                        </a>
                                    </li>
                                    {% endif %}

                                    {% if book.publisher %}
                                    <li class="list-group-item list-group-item-light  ">
                                        <a class="a-cat-book-info " href="#">
                                            publisher:
                                            <br>
                                            <span>{{book.publisher}}</span>
                                        </a>
                                    </li>
                                    {% endif %}

                                    <!--avialble book start -->
                                    {% if book.available %}
                                    <li class="list-group-item list-group-item-light   
                                    a-cat-book-success">
                                        <a class="a-cat-book-info  " href="#">
                                            the book is available in the library
                                        </a>
                                    </li>
                                    <!--avialble borrowing start -->
                                    {%if book.available_borrowing %}
                                    <li class="list-group-item list-group-item-light  a-cat-book-success">
                                        <a class="a-cat-book-info " href="#">
                                            the book is available for borrowing
                                        </a>
                                    </li>
                                    {% else %}
                                    <li class="list-group-item list-group-item-light  a-cat-book-danger">
                                        <a class="a-cat-book-info " href="#">
                                            the book isn't available for borrowing
                                        </a>
                                    </li>
                                    {% endif %}
                                    <!--avialble borrowing end -->
                                    {% else %}
                                    <li class="list-group-item list-group-item-light  a-cat-book-danger
                                    ">
                                        <a class="a-cat-book-info " href="#">
                                            the book isn't available
                                        </a>
                                    </li>
                                    {% endif %}
                                    <!--avialble book end -->


                                    {% if user.is_editor %}
                                    <li
                                        class="list-group-item list-group-item-light border border-secondary border-2 text-center">
                                        <a class="a-cat-book-info edit-database " href="#">
                                            Edit Database
                                        </a>
                                    </li>
                                    <li class="list-group-item list-group-item-light hidden-toggler">
                                        <a class="a-cat-book-info clickable" href="{% url 'book-update' book.id %}">
                                            Update Book
                                        </a>
                                    </li>
                                    <li class="list-group-item list-group-item-light hidden-toggler">
                                        <a class="a-cat-book-info clickable" href="{% url 'book-delete' book.id %}">
                                            Delete Book
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block js %}
<script src="{% static 'main/js/booking-detailed.js' %}"></script>
{% endblock js %}