{% extends 'main/base.html' %}
{% load static %}
{% block header %}
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Books</h1>
            <p class="lead mb-0">Here you can explore our books treasures </p>
        </div>
    </div>
</header>
{% endblock header %}
{% block content %}
<section class="main-section section-height-adjustment">
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="row">
                    {% for book in books %}
                    <div class="col-lg-3">
                        <div class="card mb-2">
                            <a href="{% url 'book-detail' book.id%}"><img
                                    class="pin-card-book img-fluid card-img-top" src="{{book.image.url}}"
                                    alt="..." /></a>
                            <div class="card-body">
                                <h2 class="card-title">{{book.name}}</h2>
                                <div class="small text-muted">
                                    By {% if book.author %} {{ book.author }} {% else %} unknown {% endif %}
                                </div>
                                <p class="card-text ellipses-handler">{{book.snippet}}</p>
                                <a class="btn btn-primary book-read-more" href="{% url 'book-detail' book.id%}">Read
                                    more
                                    →</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <ul class="list-group">
                                    {% for code in codes %}
                                    <li class="list-group-item list-group-item-light">
                                        <a class="a-cat" href="#">
                                            {{ code.family }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                    {% if user.is_editor %}
                                    <li class="list-group-item list-group-item-light border border-secondary border-2 ">
                                        <a class="a-cat edit-database" href="#">
                                            Edit Database
                                        </a>
                                    </li>
                                    <li class="list-group-item list-group-item-light hidden-toggler">
                                        <a class="a-cat " href="#">
                                            Add a Book
                                        </a>
                                    </li>
                                    <li class="list-group-item list-group-item-light hidden-toggler">
                                        <a class="a-cat " href="#">
                                            Add an author
                                        </a>
                                    </li>
                                    <li class="list-group-item list-group-item-light hidden-toggler">
                                        <a class="a-cat " href="#">
                                            Add a Publisher
                                        </a>
                                    </li>
                                    <li class="list-group-item list-group-item-light hidden-toggler">
                                        <a class="a-cat " href="#">
                                            Add a City
                                        </a>
                                    </li>
                                    <li class="list-group-item list-group-item-light hidden-toggler">
                                        <a class="a-cat " href="#">
                                            Add an Account
                                        </a>
                                    </li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'main/js/booking-home.js' %}"></script>
{% endblock content %}