.cardo {
    display: grid;
    /* grid-template-columns: 300px; */
    grid-template-rows: 210px 210px;
    grid-template-areas: "image" "text";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
    padding: 0;
}

.cardo-image {
    grid-area: image;
    /* background: url("img1.jpg"); */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.cardo-text {
    grid-area: text;
    margin: 25px;
    word-break: break-word;
}

.cardo-text .date {
    color: rgb(255, 7, 110);
    font-size: 13px;
}

.cardo-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
}

.cardo-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

.cardo-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 7, 110);
}

.cardo-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 10px;
}

.cardo:hover {
    transform: scale(1.07);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

/* -------------------------------------------------------------------- */

.cardo-pinned {
    grid-template-rows: 500px 210px !important;
    position: relative;
}

.cardo-pinned::after {
    content: '';
    position: absolute;
    background-image: url("../assets/pin-angle-fill.svg");
}

.customized-form-check-input[type=checkbox] {
    border-radius: .25em;
}

.customized-form-check-input {
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, .25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
}

.form-check .form-check-input {
    float: initial;
    margin-left: 0;
}

.our-pin-holder {
    position: absolute;
    top: 1%;
    right: 1%;
}