{% extends "main/base.html" %} 
{% load crispy_forms_tags %} 
{% load static %} 


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/select2.min.css' %}">
{% endblock css %}


{% block content %}
<section class="main-section">
    <div class="container-lg">
        <!-- Header: Author - date -->
        <div class="card mb-3">
            <!-- <h5 class="card-header fs-4">{{ post.title }} <span class="fs-6 mt-1 right-adjust text-muted">{{ post.date_posted|date:"F d, Y - P" }}</span></h5> -->
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4"> Blog Post </legend>
                        {{ form.media }} {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit"> Post </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block jQ %}
    <script src="{% static 'main/js/select2.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#id_categories').select2();
        });
    </script>
{% endblock jQ %}