{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<section class="main-section section-height-adjustment">
    <div class="container-lg">
        <div class="row justify-content-center">
            <!-- Post Detail -->
            <div class="col-lg-8 col-md-9 col-sm-10 col-11">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <div class="d-flex mb-1 justify-content-between">
                            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                            <div class="btn-group align-items-center">
                                <a class="a-cat dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'blog-update' post.id %}">Update</a></li>
                                    <li><a class="dropdown-item" href="{% url 'blog-delete' post.id %}">Delete</a></li>
                                    <li><a class="dropdown-item" href="#">Report</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'contact-us' %}">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Posted on {{ post.date_posted|date:"F d, Y - P" }} by {{ post.author }}</div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.image.url }}" alt="..." /></figure>
                    <!-- Post content-->
                    <section style="text-align: justify;" class="mb-4">
                        {{ post.content|safe }}
                    </section>
                </article>
            </div>
        </div>
        <!-- Comment Section -->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9 col-sm-10 col-11">
                {% include 'blog/components/comments_section.html' with form=form obj=post %}
            </div>
        </div>
        
    </div>
</section>
{% endblock content %}