{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<section class="main-section section-height-adjustment">
    <div class="container-lg">
        <div class="row justify-content-center">
            <!-- Post Detail -->
            <div class="col-lg-8 col-md-9 col-sm-10 col-11">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <div class="d-flex mb-1 justify-content-between">
                            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                            <div class="btn-group align-items-center">
                                <a class="a-cat dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'blog-update' post.id %}">Update</a></li>
                                    <li><a class="dropdown-item" href="{% url 'blog-delete' post.id %}">Delete</a></li>
                                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ReportModal" href="#">Report</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'contact-us' %}">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Posted on {{ post.date_posted|date:"F d, Y - P" }} by {{ post.author }}</div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.image.url }}" alt="..." /></figure>
                    <!-- Post content-->
                    <section style="text-align: justify;" class="mb-4">
                        {{ post.content|safe }}
                    </section>
                </article>
            </div>
        </div>
        <!-- Comment Section -->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9 col-sm-10 col-11">
                {% include 'blog/components/comments_section.html' with form=form obj=post %}
            </div>
        </div>
        
    </div>
</section>
<!-- Report Post model -->
<div class="modal fade" id="ReportModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="ReportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ReportModalLabel">Report Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'report' %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <h3 class="mb-2">Are you sure you wants to report this Post?</h3>
                    <input type="hidden" id="custId" name="id" value="{{ post.id }}">
                    <div class="form-floating">
                        <textarea class="form-control" name="message" placeholder="Why are you reporting this Post" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Why are you reporting this Post</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-danger">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
    <!-- Toggle add Comment -->
    <script>
        function ToggleAddComment() {
            let card = document.querySelector("#AddCommentCard");
            card.classList.toggle("d-none");
            let icons = document.querySelectorAll("#togglebtn");
            for(i=0; i<icons.length; i++) {
                icons[i].classList.toggle("d-none");
            }
        }

        function TrashCan() {
            document.querySelector("#AddCommentCard #floatingCommentInput").value = "";
        }
    </script>
{% endblock js %}

{% block ajax %}
    <script type="text/javascript">
        $(document).on('submit', '#AddCommentForm', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "api-comment-create" post.id %}',
                data: {
                    comment: $('#floatingCommentInput').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val() 
                },
                success: function(data) {
                    // [1]: Append Comment Form 
                    // [2]: Append Element 
                    var element = `
                        <div class="d-flex text-muted pt-3 De7k">
                            <img class="imagefifty me-1" src="` + data.image_url + `" alt="...">
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex mb-1 justify-content-between">
                                    <strong class="text-gray-dark">@` + data.owner_username + `</strong>
                                    <!-- Comments options Button -->
                                    <div class="btn-group">
                                        <a class="a-cat dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" id="` + data.comment_id + `" href="#">Reply</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ReportCommentModal` + data.comment_id +  `" href="#">Report</a></li>
                                            <li><a class="dropdown-item" href="#">Upvote</a></li>
                                            <li><a class="dropdown-item" href="#">Downvote</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <span class="d-block text-break">` + data.comment +  `</span>
                            </div>
                        </div>
                    `
                    $(".AppendCommentsHere").append(element);
                    // [3]: Remove Comment Form
                    $(".trash-can").click();
                }
            });
        });
    </script>
{% endblock ajax %}