{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<section class="main-section section-height-adjustment">
    <div class="container-lg">
        <div class="row justify-content-center">
            <!-- Post Detail -->
            <div class="col-lg-8 col-md-9 col-sm-10 col-11">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <div class="d-flex mb-1 justify-content-between">
                            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                            <div class="btn-group align-items-center">
                                <a class="a-cat dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'blog-update' post.id %}">Update</a></li>
                                    <li><a class="dropdown-item" href="{% url 'blog-delete' post.id %}">Delete</a></li>
                                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ReportModal"
                                            href="#">Report</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'contact-us' %}">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Posted on {{ post.date_posted|date:"F d, Y - P" }} by {{ post.author }}</div>
                        <!-- Post categories-->
                        {% if post.categories.all %}
                            {% for category in post.categories.all %}
                                <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ category }}</a>
                            {% endfor %}
                        {% endif %}
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.image.url }}" alt="..." /></figure>
                    <!-- Post content-->
                    <section style="text-align: justify;" class="mb-4">
                        {{ post.content|safe }}
                    </section>
                    <!-- likes -->
                    <form action="{% url 'like-post' post.id %}" method="POST" class="d-flex justify-content-end">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                            {% if liked %}
                                <button button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm me-2">Dislike</button>
                            {% else %}
                                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm me-2">like</button>
                            {% endif %}
                            - {{ total_likes }}  likes
                        {% else %}
                            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm me-2">like</button>
                            - {{ total_likes }}  likes
                        {% endif %}
                    </form>
                </article>
            </div>
        </div>
        <!-- Comment Section -->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9 col-sm-10 col-11">
                {% include 'blog/components/comments_section.html' with form=form obj=post %}
            </div>
        </div>

    </div>
</section>
<!-- Report Post model -->
<div class="modal fade" id="ReportModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="ReportModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ReportModalLabel">Report Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'report' %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <h3 class="mb-2">Are you sure you wants to report this Post?</h3>
                    <input type="hidden" id="custId" name="id" value="{{ post.id }}">
                    <div class="form-floating">
                        <textarea class="form-control" name="message" placeholder="Why are you reporting this Post"
                            id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Why are you reporting this Post</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-danger">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<!-- Toggle add Comment -->
<script>
    function ToggleAddComment() {
        let card = document.querySelector("#AddCommentCard");
        card.classList.toggle("d-none");
        let icons = document.querySelectorAll("#togglebtn");
        for (i = 0; i < icons.length; i++) {
            icons[i].classList.toggle("d-none");
        }
    }

    function TrashCan() {
        document.querySelector("#AddCommentCard #floatingCommentInput").value = "";
    }

    function ToggleReply(id) {
        let reply_id = "#" + id
        document.querySelector(reply_id).classList.toggle("d-none");
    }

    function ReplyTrashCan(id) {
        let selector = "#" + id + " #floatingReplyInput";
        document.querySelector(selector).value = "";
    }
</script>
{% endblock js %}

{% block ajax %}
<script type="text/javascript">
    $(document).on('submit', '#AddCommentForm', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "api-comment-create" post.id %}',
            data: {
                comment: $('#floatingCommentInput').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (data) {
                // [1]: populate element @rendering with dummy data
                var element = `{% include 'blog/components/sub_components/comment.html' with obj_id=post_id comment_id=comment_id comment_msg=test_msg image_url=image_url username=username only %}`
                // [2]: update element object with actual data @runtime
                let post_id = "{{post.id}}"
                let image_url = data.image_url;
                let owner_username = data.owner_username;
                let comment_id = data.comment_id;
                let comment_msg = data.comment;
                element = element.replace(new RegExp("{{post_id}}", 'g'), "{{post.id}}").replace(new RegExp("{{comment_id}}", 'g'), comment_id).replace(new RegExp("{{test_msg}}", 'g'), comment_msg).replace(new RegExp("{{image_url}}", 'g'), image_url).replace(new RegExp("{{username}}", 'g'), owner_username);
                // [3]: Append element
                $(".AppendCommentsHere").append(element);
                // [4]: empty Comment Form
                TrashCan();
                // [5]: close Comment Form
                ToggleAddComment();
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).on('submit', '#AddReplyForm', function (e) {
        e.preventDefault();
        var comment_id = e.target.classList[0];

        var reply_url_str = $(".dynamic-urls").attr("reply-create-url");
        reply_url_str = reply_url_str.replace("{{post_id}}", "{{post.id}}").replace("{{comment_id}}", comment_id);
        
        let textarea_id = "#AddReplyCard" + comment_id + ' #floatingReplyInput'
        $.ajax({
            type: 'POST',
            url: reply_url_str,
            data: {
                comment_id: e.target.classList[0],
                reply: $(textarea_id).val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (data) {
                // [1]: populate element @rendering with dummy data
                var element = `{% include 'blog/components/sub_components/reply.html' with obj_id=post_id comment_id=comment_id reply_id=reply_id_ex username=username image_url=image_url reply_msg=test_msg only %}`;
                // [2]: update element object with actual data @runtime
                let post_id = "{{post.id}}"
                let comment_id = data.comment_id;
                let reply_id = data.reply_id
                let owner_username = data.owner_username;
                let image_url = data.image_url;
                let reply_msg = data.reply;
                element = element.replace(new RegExp("{{post_id}}", 'g'), "{{post.id}}").replace(new RegExp("{{comment_id}}", 'g'), comment_id).replace(new RegExp("{{reply_id_ex}}", 'g'), reply_id).replace(new RegExp("{{test_msg}}", 'g'), reply_msg).replace(new RegExp("{{image_url}}", 'g'), image_url).replace(new RegExp("{{username}}", 'g'), owner_username);
                // [3]: Append Element
                $(".AppendRepliesHere." + comment_id).append(element);
                // [4]: empty reply box
                ReplyTrashCan('AddReplyCard' + comment_id);
                // [5]: close reply box
                ToggleReply('AddReplyCard' + comment_id);
            }
        });
    });
</script>
{% endblock ajax %}