{% extends "main/base.html" %} 
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog-home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/select2.min.css' %}">
{% endblock css %}

{% block header %}
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">MPLL Blog</h1>
            <p class="lead mb-3">Here we discuss, share, and preview</p>
            <a class="btn btn-outline-secondary" href="{% url 'blog-create' %}">Add Post</a>
        </div>
    </div>
</header>
{% endblock header %} 

{% block content %}
<section class="main-section section-height-adjustment-header">
    <div class="container-lg">
        <!-- Start Search -->
        <form action="{% url 'blog-home' %}" method="GET">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-4 mb-md-0 col-sm-10 col-10 mb-2 ">
                        <input name="searchkey" class="form-control" type="text" placeholder="Enter search term..."
                        aria-label="Enter search term..." aria-describedby="button-search" />
                    </div>
                    <div class="col-lg-5 col-md-5 mb-md-0 col-sm-10 col-10 mb-2">
                        {{ categories_form.categories }}
                    </div>
                    <!-- is_pinned -->
                    <div class="col-lg-2 col-md-2 text-md-start mb-md-0 col-sm-10 mt-1 col-10 mb-2 form-check text-center ">
                        <div>
                            {{ categories_form.is_pinned }}
                            <label for="{{ categories_form.is_pinned.id_for_label }}">Pinned</label>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 mb-md-0 col-sm-10 col-10 mb-2 text-center">
                        <button class="btn btn-outline-secondary" id="button-search" type="submit">Filter</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- End Search -->
        <div class="row">
            <!-- First Column: Posts -->
            <div class="col-lg-12">
                <div class="row justify-content-center">
                    {% for post in posts %} 
                        {% if post.is_pinned %}
                        <!-- Featured blog post-->
                            <div class="cardo cardo-pinned col-lg-10 col-md-10 col-sm-10 col-10">
                                <div style='background-image: url(" {{ post.image.url }} ");' class="cardo-image"></div>
                                <div class="cardo-text">
                                    <div class="small text-muted">{{ post.date_posted|date:"F d, Y - P" }}</div>
                                    <h2 class="card-title ellipses-handler-title">{{ post.title }}</h2>
                                    <p class="card-text ellipses-handler">{{ post.snippet|safe }}</p>
                                    <a class="btn btn-primary" href="{% url 'blog-detail' post.id %}">Read more</a>
                                    <link rel="icon" type="image/svg" href="{% static 'blog/assets/pin-angle-fill.svg' %}" />
                                    <!-- <i class="bi bi-pin-angle-fill"></i> -->
                                </div>
                            </div>
                        {% endif %} 
                    {% endfor %}
                </div>
                <!-- Nested row for un-pinned blog posts-->
                <div class="row justify-content-center">
                    {% for post in posts %} {% if not post.is_pinned %}
                        <div class="cardo col-lg-3 col-md-5 col-sm-8 col-10">
                            <div style='background-image: url(" {{ post.image.url }} ");' class="cardo-image"></div>
                            <div class="cardo-text">
                                <div class="small text-muted">{{ post.date_posted|date:"F d, Y - P" }}</div>
                                <h2 class="card-title ellipses-handler-title">{{ post.title }}</h2>
                                <p class="card-text ellipses-handler">{{ post.snippet|safe }}</p>
                                <a class="btn btn-primary" href="{% url 'blog-detail' post.id %}">Read more</a>
                            </div>
                        </div>
                    {% endif %} {% endfor %}
                </div>
                <!-- Pagination-->
                {% include 'blog/components/paginator.html' with is_paginated=is_paginated page_obj=page_obj %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block jQ %}
    <script src="{% static 'main/js/select2.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#id_categories').select2({
                placeholder: "Filter by categories",
                allowClear: true,
                width: 'resolve'
            });
        });
    </script>
{% endblock jQ %}