{% extends "main/base.html" %} 
{% load static %} 

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/test-unpinned-card.css' %}">
{% endblock css %}

{% block header %}
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">MPLL Blog</h1>
            <p class="lead mb-0">Here we discuss, share, and preview</p>
        </div>
    </div>
</header>
{% endblock header %} 

{% block content %}
<section class="main-section">
    <div class="container-lg">
        <!-- Start Search -->
            <div class="input-group mb-4">
                <form action="{% url 'blog-home' %}" method="GET">
                    <input class="form-control" type="text" placeholder="Enter search term..."
                    aria-label="Enter search term..." aria-describedby="button-search" name="searchkey"/>
                    <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                </form>
            </div>
        <!-- End Search -->
        <div class="row">
            <!-- First Column: Posts -->
            <div class="col-lg-12">
                <div class="row justify-content-center">
                    {% for post in posts %} {% if post.is_pinned %}
                    <!-- Featured blog post-->
                        <div class="cardo cardo-pinned col-lg-10">
                            <div style='background-image: url(" {{ post.image.url }} ");' class="cardo-image"></div>
                            <div class="cardo-text">
                                <div class="small text-muted">{{ post.date_posted|date:"F d, Y - P" }}</div>
                                <h2 class="card-title ellipses-handler-title">{{ post.title }}</h2>
                                <p class="card-text ellipses-handler">{{ post.snippet|safe }}</p>
                                <a class="btn btn-primary" href="{% url 'blog-detail' post.id %}">Read more</a>
                            </div>
                        </div>
                    {% endif %} {% endfor %}
                </div>
                <!-- Nested row for un-pinned blog posts-->
                <div class="row justify-content-center">
                    {% for post in posts %} {% if not post.is_pinned %}
                        <div class="cardo col-lg-3 col-md-5 col-sm-8 col-10">
                            <div style='background-image: url(" {{ post.image.url }} ");' class="cardo-image"></div>
                            <div class="cardo-text">
                                <div class="small text-muted">{{ post.date_posted|date:"F d, Y - P" }}</div>
                                <h2 class="card-title ellipses-handler-title">{{ post.title }}</h2>
                                <p class="card-text ellipses-handler">{{ post.snippet|safe }}</p>
                                <a class="btn btn-primary" href="{% url 'blog-detail' post.id %}">Read more</a>
                            </div>
                        </div>
                    {% endif %} {% endfor %}
                </div>
                <!-- Pagination-->
                {% include 'blog/components/paginator.html' with is_paginated=is_paginated page_obj=page_obj %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}