{% extends "main/base.html" %} {% load static %} {% block header %}
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">MPLL Blog</h1>
            <p class="lead mb-0">Here we discuss, share, and preview</p>
        </div>
    </div>
</header>
{% endblock header %} {% block content %}
<div class="row justify-content-center">
    <!-- First Column: Posts -->
    <div class="col-lg-8">
        {% for post in posts %} {% if post.is_pinned %}
        <!-- Featured blog post-->
        <div class="card mb-4">
            <a href="{% url 'blog-detail' post.id %}"><img class="pin-card-post img-fluid card-img-top"
                    src="{{ post.image.url }}" alt="..." /></a>
            <div class="card-body">
                <div class="small text-muted">{{ post.date_posted|date:"F d, Y - P" }}</div>
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text ellipses-handler">{{ post.snippet|safe }}</p>
                <a class="btn btn-primary" href="{% url 'blog-detail' post.id %}">Read more →</a>
            </div>
        </div>
        {% endif %} {% endfor %}
        <!-- Nested row for non-featured blog posts-->
        <div class="row">
            {% for post in posts %} {% if not post.is_pinned %}
            <div class="col-lg-6">
                <!-- Blog post-->
                <div class="card mb-4">
                    <a href="{% url 'blog-detail' post.id %}"><img class="pin-card-post img-fluid card-img-top"
                            src="{{ post.image.url }}" alt="..." /></a>
                    <div class="card-body">
                        <div class="small text-muted">{{ post.date_posted|date:"F d, Y - P" }}</div>
                        <h2 class="card-title h4">{{ post.title }}</h2>
                        <p class="card-text ellipses-handler">{{ post.snippet|safe }}</p>
                        <a class="btn btn-primary" href="{% url 'blog-detail' post.id %}">Read more →</a>
                    </div>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
        <!-- Pagination-->
        {% if is_paginated %}
        <nav aria-label="Pagination">
            <hr class="my-0" />
            <ul class="pagination justify-content-center my-4">
                {% if page_obj.has_previous %}
                <li class="page-item "><a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">First</a>
                </li>
                <li class="page-item "><a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                        tabindex="-1" aria-disabled="true">Previous</a></li>
                {% endif %} {% for num in page_obj.paginator.page_range %} {% if page_obj.number == num %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ num }}">{{ num
                        }}</a></li>
                {% elif num > page_obj.number|add:'-3' and num
                < page_obj.number|add: '3' %} <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num
                        }}</a></li>
                    {% endif %} {% endfor %} {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    </li>
                    {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    <!-- Second Column: Sidebar -->
    <!-- Side widgets-->
    <div class="col-lg-4">
        <!-- Search widget-->
        <div class="card mb-4">
            <div class="card-header">Search</div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Enter search term..."
                        aria-label="Enter search term..." aria-describedby="button-search" />
                    <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                </div>
            </div>
        </div>
        <!-- Categories widget-->
        <div class="card mb-4">
            <div class="card-header">Categories</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#!">Web Design</a></li>
                            <li><a href="#!">HTML</a></li>
                            <li><a href="#!">Freebies</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#!">JavaScript</a></li>
                            <li><a href="#!">CSS</a></li>
                            <li><a href="#!">Tutorials</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Side widget-->
        <div class="card mb-4">
            <div class="card-header">Side Widget</div>
            <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and
                feature the Bootstrap 5 card component!</div>
        </div>
    </div>
</div>
{% endblock content %}