{% extends 'main/base.html' %} 
{% load crispy_forms_tags %} 

{% block content %}
<section class="main-section">
    <div class="container-lg">
        <div class="content-section">
            <form action="" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join Today</legend>
                    <!-- username -->
                    <div class="form-floating mb-3">
                        {% include 'blog/components/field.html' with is_bound=form.is_bound field=form.username %}
                    </div>
                    <!-- email -->
                    <div class="form-floating mb-3">
                        {% include 'blog/components/field.html' with is_bound=form.is_bound field=form.email %}
                    </div>
                    <!-- First Name -->
                    <div class="form-floating mb-3">
                        {% include 'blog/components/field.html' with is_bound=form.is_bound field=form.first_name %}
                    </div>
                    <!-- Last Name -->
                    <div class="form-floating mb-3">
                        {% include 'blog/components/field.html' with is_bound=form.is_bound field=form.last_name %}
                    </div>
                    {% if form.password1 %}
                        <!-- password1 -->
                        <div class="form-floating mb-3">
                            {% include 'blog/components/field.html' with is_bound=form.is_bound field=form.password1 %}
                        </div>
                        <!-- password2 -->
                        <div class="form-floating mb-3">
                            {% include 'blog/components/field.html' with is_bound=form.is_bound field=form.password2 %}
                        </div>
                    {% endif %}
                </fieldset>
                <div class="form-group mb-3">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Alreay Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                </small>
            </div>
        </div>
    </div>
</section>
{% endblock content %}