{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css files -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Icon -->
    <link rel="shortcut icon" href="{% static 'main/assets/tornado.svg' %}" />

    {% if title %}
        <title>
            MPLL - {{ title }}
        </title>
    {% else %}
        <title>
            MPLL
        </title>
    {% endif %}

</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-xxl">
            <!-- Brand Name -->
            <a href="#" class="navbar-brand">
                <span class="fw-bold text-secondary">
                    <i class="bi bi-book-half"></i>
                    Misr Public Library Luxor - MPLL
                </span>
            </a>
            <!-- toggle button for mobile nav -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" 
            aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- navbar links -->
            <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
                <ul class="navbar-nav">
                    <!-- About -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <!-- Blog -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <!-- Animal Index -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Animal Index</a>
                    </li>
                    <!-- Booking -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Booking</a>
                    </li>
                    <!-- Sign in -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign In</a>
                    </li>
                    <!-- SignUp -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar END -->
    {% block content %}{% endblock content %}
    <!-- JavaScript Files -->
    <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>