{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css files -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Custom Google Fonts styles for this template -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:ital,wght@0,800;1,700&display=swap" rel="stylesheet">
    
    <!-- Icon -->
    <link rel="shortcut icon" href="{% static 'main/assets/tornado.svg' %}" /> {% if title %}
    <title>
        MPLL - {{ title }}
    </title>
    {% else %}
    <title>
        MPLL
    </title>
    {% endif %}

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand d-none d-lg-inline" href="{% url 'home' %}">Misr Public Library Luxor - MPLL</a>
            <a class="navbar-brand d-lg-none" href="{% url 'home' %}">Misr Public Library Luxor</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'blog-home' %}">Blog</a></li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">                        
                        <li><a class="dropdown-item" href="#">Contact Us</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Animal Index</a></li>
                        <li><a class="dropdown-item" href="#">Booking</a></li>
                    </ul>
                    </li>
                    {% if user.is_authenticated %}
                    <!-- profile -->
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <!-- log out -->
                    <li class="nav-item d-lg-none">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    <li class="nav-item ms-2 d-none d-lg-inline">
                        <a class="btn btn-secondary" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    {% else %}
                    <!-- Sign in -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Sign In</a>
                    </li>
                    <!-- SignUp -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block header %}{% endblock header %}
    <!-- main -->
    <section class="main-section">
        <div class="container-lg">
            {% if messages %} {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %} {% endif %} {% block content %}{% endblock content %}
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Misr Public Library Luxor - MPLL 2021</p></div>
    </footer>
    <!-- End main -->
    <!-- JavaScript Files -->
    <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>