{% extends "main/base.html" %} 
{% load static %}

{% block content %}
<section class="main-section section-height-adjustment section-color-adjustment  d-flex">
    <div class="container-lg d-flex">
        <div class="row justify-content-center align-items-center">
            <!-- First Col :: Text -->
            <div class="col-md-5 text-center text-md-start">
                <h1>
                    <div class="display-5 text-muted"><q>A Library is a place vibrating with ideas</q></div>
                </h1>
                <p class="lead my-4 text-muted aligning-citing">Nancy Kundhardt Lodge</p>
            </div>
            <!-- Second Col :: Image -->
            <div class="col-md-5 text-center d-none d-md-block">
                <!-- ToolTip -->
                <span class="tt" data-bs-placement="bottom" title="the seated script">
                        <img class="img-fluid" src="{% static 'main/assets/the seated scrip.png' %}" alt="ebook cover">
                </span>
            </div>
        </div>
    </div>
</section>
{% endblock content %}