section {
    padding: 60px 0;
}
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.right-adjust {
    display: inline-block;
    float: right;
}
