/* to be fixed for cdn */
body {
  padding-top: 56px;
}
.about-h1 {
  font-family: "Open Sans", sans-serif;
}

.about-h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

section.main-section {
  padding: 60px 0;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.right-adjust {
  display: inline-block;
}

.pin-card-post {
  background-size: cover;
  height: 350px;
}

.pin-card-book {
  background-size: cover;
  height: 175px;
}

.detailed-card {
  background-size: cover;
  max-height: 400px;
}

a.a-cat {
  text-decoration: none;
  color: #787976;
}

a.edit-database
{
    cursor: pointer !important;
    font-weight: bold !important;
}
a.clickable{
    cursor: pointer !important;
}
li.a-cat-book-success {
  background-color: rgb(0, 255, 0);
}

li.a-cat-book-danger {
  background-color: rgb(255, 0, 0);
  
}

a.a-cat-book-info {
  color: black;
  text-decoration: none;
  cursor:text; 
}

.ellipses-handler {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 16px;
}

.ellipses-handler-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.marker {
  background-color: rgb(255, 255, 0, 0.8);
}

.comment-section-image {
  height: 60px;
  background-size: cover;
  border-radius: 4px;
  max-width: 60px;
}

.book-read-more {
  font-size: 12px;
}

.date-published-handler {
  font-weight: bold;
  color: brown;
}
.image-size {
  width: 100%;
  height: calc(100vh - 225px);
  object-fit: cover;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .about-h1 {
    text-align: center;
  }
  .about-h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  .about-h3 + p {
    text-align: center;
  }
}

/* Fixed bug in bootstrap 5 in form floating validation */
.form-floating {
  position: relative;
}

.form-floating:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 1px; /* border-width (default by BS) */
  left: 1px; /* border-width (default by BS) */
  width: calc(100% - 14px); /* to show scrollbar */
  height: 32px;
  border-radius: 4px; /* (default by BS) */
  background-color: #ffffff;
}

.form-floating textarea.form-control {
  padding-top: 32px; /* height of pseudo element */
  min-height: 80px; /* not relevant */
}

.aligning-citing {
  text-align: right;
}

@media (max-width: 959px) {
  .aligning-citing {
    text-align: center;
  }
}

.section-height-adjustment {
  min-height: calc(100vh - 176px);
}

.section-height-adjustment-header {
  min-height: calc(100vh - 176px - 303px);
}

.section-color-adjustment {
  background-color: #212529;
}

@media (max-width: 477px) {
  .section-height-adjustment {
    min-height: calc(100vh - 200px);
  }
}
.hidden-toggler {
  height: 0;
  overflow: hidden ;
  padding: 0px;
  border: none !important;
}

.row .text-center .list-group .list-group-item,
.row .list-group .list-group-item {
  transition: all 0.5s ease-out;
}
/* to make CKEDITOR reponsive */
.django-ckeditor-widget {
  width: 100%;
}
.card-beau{
    box-shadow: 5px 5px 15px rgb(0 0 0 / 20%);
}
.card-beau:hover{
    transform: scale(1.02);
}

.svg-button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #787976;
  text-decoration: none;
  cursor: pointer;
}

