section.main-section {
    padding: 60px 0;
}
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.right-adjust {
    display: inline-block;
    float: right;
}

.pin-card {
    background-size: cover;
    height: 350px;
}

.detailed-card {
    background-size: cover;
    max-height: 400px;
}

a.a-cat {
    text-decoration: none;
    color: #636461;
}